<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.code4java.springbok.mapper.PurchaseOutOrderMapper">

    <select id="pagePurchaseOutOrder" resultType="cn.code4java.springbok.vo.PurchaseOutOrderVO">
        SELECT
        poo.*
        FROM
        erp_purchase_out_order poo
        <where>
            <if test="query.orderStatus > 0">
                AND poo.order_status = #{query.orderStatus}
            </if>
        </where>
    </select>
</mapper>
