<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.code4java.springbok.mapper.ItemSaleMapper">

    <select id="selectItemSaleById" resultType="cn.code4java.springbok.vo.ItemSaleVO">
        SELECT
            its.*, isc.item_sale_class_name
        FROM
            mall_item_sale its
        LEFT JOIN mall_item_sale_class isc ON its.item_sale_class_code = isc.item_sale_class_code
        WHERE
            its.item_sale_id = #{itemSaleId}
    </select>

    <select id="pageItemSale" resultType="cn.code4java.springbok.entity.ItemSale">
        SELECT
        its.item_sale_id,
        its.item_code,
        its.item_name,
        its.item_sale_name,
        its.item_sale_price,
        its.item_sale_class_code,
        its.main_image,
        its.created_name,
        its.created_time,
        its.updated_name,
        its.updated_time
        FROM
        mall_item_sale its
        <where>
            <if test="query.itemSaleName != null and query.itemSaleName != ''">
                and (item_code like concat('%',#{query.itemSaleName},'%') or item_sale_name like concat('%',#{query.itemSaleName},'%'))
            </if>
        </where>
    </select>
</mapper>
