<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.code4java.springbok.mapper.SaleOrderMapper">

    <select id="pageSaleOrder" resultType="cn.code4java.springbok.vo.SaleOrderVO">
        SELECT
            *
        FROM
            mall_sale_order so
        <where>
            <if test="query.orderNo != null and query.orderNo != ''">
                and so.order_no = #{query.orderNo}
            </if>
            <if test="query.orderStatus > 0">
                and so.order_status = #{query.orderStatus}
            </if>
            <if test="query.payStatus > 0">
                and so.pay_status = #{query.payStatus}
            </if>
        </where>
    </select>
</mapper>
